///////////////////////////////////////
// Colors /////////////////////////////
$background   : #EFEFEF; // background color
$border       : #DDDDDD; // border color
$form         : #FCF8F8; // background color for a form
$header-text  : #2C2C2C; // dark text color
$input-border : #282828; // border color
$red          : #DD5A42; // red (used for links)