///////////////////////////////////////////////////////////////////////////////
// Colors /////////////////////////////////////////////////////////////////////

// Use this sheet to add new colors to the site

$background   : #EFEFEF; // background color
$meat-bg      : #13161C;
$border       : #DDDDDD; // border color
$form         : #FCF8F8; // background color for a form
$header-text  : #2C2C2C; // dark text color
$text-light   : #ffffff; // light text color
$input-border : #282828; // border color
$red          : #EC2426; // red (used for links)
$green        : #27ae60; // green (used for follow links)