///////////////////////////////////////
// Colors /////////////////////////////
$background   : #EFEFEF;
$border       : #DDDDDD;
$form         : #FCF8F8;
$header-text  : #2C2C2C;
$input-border : #282828;
$red          : #DD5A42;