@import "colors";

// Place all the styles related to the Podcasts controller here.


// Main container for podcasts
.podcast-container {

    // Header (LHS)
    // @contains - title, description, tags, viewers, follow button
    .header-left {
        float:left;
        max-width:770px;

        h1 {float:left;}
        .btn {
            float:left; 
            margin-top:20px;
            margin-left:10px;
        }
    }
    // Header (RHS)
    // @contains - image
    .header-right {
        float:right;
        width:200px;
        height:200px;
        background: $red;

        border-radius: 3px;
        border: 1px solid $border;
        padding: 4px;
    }
}
