///////////////////////////////////////////////////////////////////////////////
// Podcasts ///////////////////////////////////////////////////////////////////
// Place all the styles related to the Podcasts controller here.

@import "colors";


// Main container for podcast
// @used podcasts/show
.podcast-container {

    // Header (LHS)
    // @contains - title, description, tags, viewers, follow button
    .header-left {
        float:left;
        max-width:770px;

        h1 {float:left;}
        
        form {float:left;}
        .btn {
            float:left; 
            margin-top:20px;
            margin-left:10px;
        }
    }
    // Header (RHS)
    // @contains - image
    .header-right {
        float: right;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 3px;
        border: 1px solid $border;
        padding: 4px;

        img {
            max-width:100%;
            max-height:100%;
        }
    }
}

// Main container for list of generics (podcasts or shows) 
// @used podcasts/show
// @used podcasts/index
.generics-container, .shows-container, .podcasts-container, .latest-shows-container {
    border: 1px solid $border;
    background: $background + 5;
    // margin-top: 50px;
    margin-bottom: 11px;
    // border-radius: 4px;
    padding: 0px;

    max-width:590px;

    h1 {
        padding-left:21px;
        padding-right:21px;
    }

    a.title {
        font-size: 21px;
        font-weight: 500;
        margin:0px;
    }

    .generic-container, .show-container, .podcast-container {
        border-top: 2px solid $border;
        padding: 21px;

        transition: 500ms;

        &:hover {
            background: $background - 9;
        }

        h1 {
            padding: 0px;
            width: 415px;
        }

    }

    .odd {background: $background}
    .even {background: $background + 9;}
}

// Main container for list of podcasts
// @used pocasts/index
.podcasts-container {
    h1 {
        float: left;
    }

    #new-podcast-btn {
        float: right;
        margin: 19px;
    }
}

.podcast-image-container, .image-container {
    width: 90px;
    height: 90px;
    margin-right: 9px;
    border-radius: 4px;
    float: left;

    img {
        max-width: 100%;
        max-height: 100%;

    }
}

.mini-image {
    width:50px;
    height:50px;
}

.podcast-content-container {
    float: left;
    width: 400px;
}


.generic-header-container {
  padding-left: 21px;
  padding-right: 21px;

  h1 {
    padding: 0px;
  }
}

.padded-container {
    padding: 21px;
}
